numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
plotly
tqdm

tokenizers==0.21.1
gensim
nltk

fastapi==0.115.12
uvicorn==0.34.0
pydantic
python-multipart==0.0.20
httpx
requests
starlette==0.46.1

psycopg2-binary==2.9.10
SQLAlchemy
s3fs
fsspec
pyarrow

openpyxl
PyMuPDF==1.25.4
python-dateutil
typing_extensions

jupyter
notebook
ipykernel
ipywidgets
matplotlib-inline

black
flake8
isort
pylint
pytest